/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Sofia Sans Extra Condensed */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ---style header section--- */
header {
    background-color: #2F2E2E;
}

.nav-links {
    width: 80%;
    margin: auto;
    padding: 15px 0;
}

.nav-links ul {
    display: flex;
    justify-content: space-evenly;

}

.nav-links ul li {
    display: inline;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

nav .fa-solid {
    display: none;
}

/* ---style hero section--- */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/hero-bkgd.svg) ;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 100px 0;
}
.hero-text img {
    width: 175px;
    height: auto;
    box-sizing: content-box;
}
.hero-text h1 {
    font-family: 'Sofia Sans Extra Condensed';
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0.8rem;
}
.hero-text h2 {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.5rem;
}

.socials {
    padding-bottom: 55px;
}

.hero .socials a{
    padding: 0 10px;
}
.socials .fa-brands {
    color: white;
    font-size: 45px;
}

/* ---style SERVICES section--- */
.services {
    background-image: url(./images/services-bkg.svg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.row {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-text h2{
    font-size: 35px;
    font-weight: 200;
    

}
.title-text img {
    width: 25%;
    padding-top: 15px;
}
.services-row {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.service-col {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.service-col img {
    width: 150px;
}
.service-col h3 {
    font-size: 40px;
    font-weight: 200;
    font-family: 'Sofia Sans Extra Condensed';
    margin-top: 20px;
}
.service-col span {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

/* ---style GROOMERS section--- */
.title-text {
    margin-bottom: 20px;
}
.title-text .dk-underline {
    width: 5%;
    margin-bottom: 20px;
}
.title-text span {
    font-size: 25px;
    font-weight: 200;
}


.groomer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.groomer-item {
    position:relative;
}

.groomer-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position:absolute; */
    z-index: 1;
    /* display: none; */
}
.groomer-bio {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}

.groomer-bio h3, .groomer-bio p {
    box-sizing: border-box;
    padding: 0 30px;
}

.groomer-bio h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Sofia Sans Extra Condensed';
}
.groomer-bio p {
    font-size: 15px;
}


@media(max-width:900px) {
    .groomer-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media(max-width:700px) {
    .groomer-container {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}




/* ---style FOOTER section--- */
footer {
    background-color: #2F2E2E;
}
.footer-info {
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 20px 0;
}
.footer-info span, .footer-info .fa-brands {
    font-size: 20px;
    font-weight: 200;
}
.footer-info .fa-regular {
    font-weight: 100;
    font-size: 10px;
}
.footer-socials {
    margin-top: 15px;
}
.footer-socials a {
    padding: 10px 15px;
    color: white;
}